<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TRE_Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TRE_Explorer.Properties.Settings>
            <setting name="OpenFolder" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="DefaultView" serializeAs="String">
                <value>Details</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="DetailsDisplaysFullPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PromptForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayNotifyIcon" serializeAs="String">
                <value>True</value>
            </setting>
        </TRE_Explorer.Properties.Settings>
    </userSettings>
</configuration>